body {
  background: paleturquoise;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent {
  height: 500px;
  width: 500px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  align-content: end;
  row-gap: 15px;
  column-gap: 50px;
}

.child {
  height: 50px;
  width: 45px;
  background: blue;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border: 5px orchid solid;
}

.second-size {
  height: 120px;
}